<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">

	<title>Post </title>

	</head>


	<body>
    <form method="post" name ="post" action="/post">
    <h1>Fais un poste</h1>
    <form>
		<p>Titre : <input type="text" name ="title"/></p>

    <p>Post :  <textarea name="description" cols="40" rows="5"></textarea></p>
		<br>
		<INPUT TYPE="submit" value="Postez votre joli poste" title="post">
    </form>




	</body>



</html>
