<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="style.css">

<style>.center{
    margin-top: 20px;
    widows: 60%;
    }</style>
<!-- Include the above in your HEAD tag ---------->

<div class="container center">
    <div class="row">
        <div class=" col-lg-offset-3 col-lg-6 col-xs-12 col-sm-12 col-md-4 well well-sm">
            <legend><i class="glyphicon glyphicon-globe"></i></a> Sign up!</legend>
            <form action="#" method="post" class="form" role="form">
            <div class="row">
                <div class="col-xs-6 col-md-6">
                    <input class="form-control" name="firstName" placeholder="First Name" type="text"
                        required autofocus />
                </div>
                <div class="col-xs-6 col-md-6">
                    <input class="form-control" name="lastName" placeholder="Last Name" type="text" required />
                </div>

            </div>
            <br>
            <input class="form-control" name="username" placeholder="Your Username" type="username" />
            <br>
            <input class="form-control" name="email" placeholder="Your Email" type="email" />
            <br>
            <input class="form-control" name="password" placeholder="New Password" type="password" />
            <br />
            <br />
            <button class="btn btn-lg btn-primary btn-block" type="submit">
                Sign up</button>
            </form>
        </div>
    </div>
</div>
